<!doctype html>
<html>

	<head>		

		<link rel="import" href="./../imageComboBox/treez-image-combo-box.html" >	
		<link rel="import" href="./treez-color-map-value.html" >

        <script>

            class TreezColorMap extends TreezImageComboBox {  
            	
            	get value() {
					 let stringValue = this.getAttribute('value');
					 return TreezColorMapValue.byName(stringValue);
				}  
            	
            	set value(newValue) {
            		super.value = newValue;	
				}  		
				
                constructor(){
                    super();  
                    this.options=TreezColorMapValue.stringValues();
                }  
                                     
            }
            window.customElements.define('treez-color-map', TreezColorMap);                    

        </script>	
		
	</head>

</html>