

treez-model-path {   
    
}

.treez-model-path-label {	
	font-family: Consolas;
    font-size: 12px; 
}

.treez-model-path-container {	
	
}

.treez-model-path-relative-root-label {	
	display: block;
	background-color: #f0f0f0;
	font-family: Consolas;
    font-size: 12px; 
}

.treez-model-path-select {
	display: block;
	width: 99.5%;
	font-family: Consolas;
    font-size: 12px; 	
}


