<!doctype html>
<html>

	<head>
 
		<link type="text/css" rel="stylesheet" href="treez-model-path.css" />
		<link rel="import" href="./../labeledTreezElement.html" >		
	
        <script>
       
           	class TreezModelPath extends LabeledTreezElement {
            	 				
  				get atomClasses() {   				
   				  return this.__atomClasses
   				}

    			set atomClasses(value) {
    			  this.__atomClasses = value;	
    			  this.__updateOptions();  
    			} 

                constructor(){
                    super();   
                    this.__label = undefined;  
                    this.__comboBox = undefined;
                    this.__atomClasses = [];                     
                }            	

                connectedCallback() {
                	
                    if(!this.__label){  

                        var label = document.createElement('label');  
                        this.__label = label;                     
                        label.innerText = this.label;                       
                        this.appendChild(label);  
                        
                        var comboBox = document.createElement('select');
                        this.__comboBox = comboBox;   
                        comboBox.className='treez-model-path-select';
                        comboBox.onchange = () =>self.__comboBoxChanged();                       
                        this.appendChild(comboBox); 
                                     		
                    }
                    
                    this.__updateOptions(); 
                    this.updateElements(this.value);	
                    this.disableElements(this.disabled)
					this.hideElements(this.hidden); 
                }
                
                updateElements(newValue){
                	if(this.__comboBox){ 
                		if(newValue !== undefined){
                        	this.__comboBox.value = newValue; 
                        } else {
                        	this.__comboBox.value = null;
                        }						
					}					    
                }                 
               
                disableElements(booleanValue){
                	if(this.__comboButton){                   		
                		this.__comboButton.disabled = booleanValue;                		
                	}
                }	
               
                hideElements(booleanValue){
                	if(this.__label){ 
                		this.hide(this.__label, booleanValue);
                		this.hide(this.__comboBox, booleanValue); 
                	}
                }	
                
                __updateOptions(){
                	var self=this;

                	if(!self.__parentAtom){
                		return;
                	}                	

                	var root = self.__parentAtom.getRoot();  
                	
                	             	
                    var modelPaths = this.__getAvailableModelPaths(root, this.__atomClasses, this.hasToBeEnabled, this.filterDelegate);
                    

					while (this.__comboBox.firstChild) {
						this.__comboBox.removeChild(this.__comboBox.firstChild);
					}                    
                   
                    
                    modelPaths.forEach(
                   		(modelPath)=>{
                   			 var option = document.createElement('option');
                   			 option.innerText = modelPath;
                   			 self.__comboBox.appendChild(option);                   			
                   		}
                    );

                    if(modelPaths.length===1){
                    	this.value=modelPaths[0];
                    }

                }
                
                __getAvailableModelPaths(atom, classes, hasToBeEnabled, filterDelegate){ 
                	
                	var self=this;
                	            		            		
            		var availablePaths = [];
            		
            		atom.children.forEach(
           				(child)=>{
           					
           					classes.forEach((clazz)=>{           						
                				if (!(child instanceof clazz)) {
                					return;
                				}
                				
                				if (hasToBeEnabled) {                					
                					if (!child.isEnabled) {
                						return;
                					}
                				}

                				if (filterDelegate) {
                					var passedFilter = filterDelegate(child);
                					if (!passedFilter) {
                						return;
                					}
                				}          				
                				                				
                				var path = child.getTreePath();

                				availablePaths.push(path);
           					});
                			
                			availablePaths = availablePaths.concat(self.__getAvailableModelPaths(child, this.__atomClasses, hasToBeEnabled, filterDelegate));
           				}
            		);
            		

            		return availablePaths;
                	
                }
              
                __comboBoxChanged(){
                	this.value = this.__comboBox.value;                	             	
                }   
               
            }
            window.customElements.define('treez-model-path', TreezModelPath);                    

        </script>	
		
	</head>

</html>