
treez-file-path {   
    font-family: Consolas;
    font-size: 12px;         
}


.treez-file-path-browse-button {
	background: url('/icons/browse.png');
	background-repeat: no-repeat;
	border: none;
	width:16px;
	color:transparent;
	margin-right:4px;
	vertical-align: middle;
}

.treez-file-path-play-button {
	background: url('/icons/run_triangle.png');
	background-repeat: no-repeat;
	border: none;
	width:16px;	
	color:transparent;
	vertical-align: middle;
}

#container{
    display:'inline-block';
    white-space: nowrap;
    margin-bottom:10px;
}

.treez-file-path-text-field {   
    width: 90%;      
    margin-right:4px;
    margin-left:0;
    vertical-align: middle;
}
