treez-file-path {   
  
}

.treez-file-path-container {       
    white-space: nowrap;      
}

.treez-file-path-label { 
	display: block;
    font-family: Consolas;
    font-size: 12px;         
}

.treez-file-path-browse-button {
	background-repeat: no-repeat;
	border: none;
	width:16px;
	color:transparent;
	margin-right:4px;
	vertical-align: middle;
}

.treez-file-path-play-button {	
	background-repeat: no-repeat;
	border: none;
	width:16px;	
	color:transparent;
	vertical-align: middle;
}

.treez-file-path-text-field {   
    width: 90%;      
    margin-right:4px;
    margin-left:0;
    vertical-align: middle;
	font-family: Consolas;
	font-size: 12px;
}