<!doctype html>
<html>

	<head>

		<link type="text/css" rel="stylesheet" href="treez-file-or-directory-path.css" />

        <script>

            class TreezFileOrDirectoryPath extends HTMLElement {

            	static get observedAttributes() {
                    return ['title','value'];
                }

                constructor(){
                    super();                  
                    this.label=undefined;   
                    this.textField=undefined;
                    this.fileInput=undefined;                
                }            	

                connectedCallback() {
                	var self = this;

                    if(!self.label){                       

                        var label = document.createElement('label');  
                        self.label = label;                     
                        label.innerText = self.title;                       
                        self.appendChild(label);  

                        var container = document.createElement('div');
                        container.id ='container';                       
                        self.appendChild(container);  

                        var leftSpan = document.createElement('span');
                        container.appendChild(leftSpan);                    

                        var textField = document.createElement('input');
                        self.textField = textField;   
                        textField.value = self.value;                    
                        textField.type='text'  
                        textField.onchange = ()=>this.textFieldChanged();                                              
                        leftSpan.appendChild(textField);

                        var rightSpan = document.createElement('span');
                        container.appendChild(rightSpan); 

					    var fileInput = document.createElement('input');
					    self.fileInput = fileInput;						   
					    fileInput.type='file';
					    fileInput.title=' ';
					    fileInput.onchange = ()=>this.fileInputChanged();				   
                        rightSpan.appendChild(fileInput);                       		
                    }
                }

                textFieldChanged(){
                	this.value = this.textField.value;
                	this.fileInput.value = '';
                }

                fileInputChanged(){
                	var file = this.fileInput.files[0]
                	if(file){
                		this.value = file.name;
                	    this.textField.value = this.value;
                	}
                	
                }

                disconnectedCallback(){
                	while (this.firstChild) {
						this.removeChild(this.firstChild);
					}
                }

                attributeChangedCallback(attr, oldValue, newValue) {
                    if(attr==='title'){
                    	if(this.label){
                    		 this.label.innerText= newValue;   
                    	}                                           
                    } else if(attr==='value'){
                    	


                    	if(this.textField){
                    		var oldValue = this.textField.value;
							if(newValue!=oldValue){
								this.textField.value= newValue;   
								if(this.fileInput){
									this.fileInput.value= '';   
								} 
								var event = new Event('input', {
									'bubbles': true,
									'cancelable': true
								});
								this.dispatchEvent(event);
							}                    		
                    	}  
                    }
                }

                get value() {
				  return this.getAttribute('value');
				}

				set value(newValue) {
				  this.setAttribute('value', newValue);
				}

               
            }
            window.customElements.define('treez-file-or-directory-path', TreezFileOrDirectoryPath); 

                   

        </script>	
		
	</head>

</html>