
.browse-button {
	background: url('/icons/browse.png');
	background-repeat: no-repeat;
	border: none;
	width:16px;
	color:transparent;
}

.play-button {
	background: url('/icons/run_triangle.png');
	background-repeat: no-repeat;
	border: none;
	width:16px;
	color:transparent;
}

#container{
    display:'inline-block';
    white-space: nowrap;
}



input[type=text] {   
    width: 90%;      
    margin-right:4px;
}
