<!doctype html>
<html>

	<head>


		<link type="text/css" rel="stylesheet" href="treez-file-or-directory-path.css" />


		<link rel="import" href="./../treezElement.html" >	

        <script>

            class TreezFileOrDirectoryPath extends TreezElement {

            	static get observedAttributes() {
            		return TreezElement.observedAttributes.concat(['title']);                    
                }

                constructor(){
                    super();                  
                    this.labelElement=undefined;   
                    this.textField=undefined;
                    this.browseButton=undefined;                        
                }            	

                connectedCallback() {
                	var self = this;

                    if(!self.labelElement){                       

                        var labelElement = document.createElement('label');  
                        self.labelElement = labelElement;                     
                        labelElement.innerText = self.title;                       
                        self.appendChild(labelElement);  

                        var container = document.createElement('div');
                        container.id ='container';                       
                        self.appendChild(container);  

                        var leftSpan = document.createElement('span');
                        container.appendChild(leftSpan);                    

                        var textField = document.createElement('input');
                        self.textField = textField;   
                       
                        if(self.value !== undefined){
                        	this.textField.value = self.value; 
                        }  else {
                        	this.textField.value = '';
                        }
                                           
                        textField.type='text'  
                        textField.className='treez-file-or-directory-path-text-field';
                        textField.onchange = ()=>this.__textFieldChanged();                                              
                        leftSpan.appendChild(textField);

                        var rightSpan = document.createElement('span');
                        container.appendChild(rightSpan); 

					    var browseButton = document.createElement('input');
					    self.browseButton = browseButton;						   
					    browseButton.type='button';
					    browseButton.className='treez-file-or-directory-path-browse-button';	
					    browseButton.title=' ';
					    browseButton.onclick = ()=>this.__browseFileOrDirectoryPath();				   
                        rightSpan.appendChild(browseButton);   
                        
                        var executeButton = document.createElement('input');
                        executeButton.type="button";
                        executeButton.className='treez-file-or-directory-path-play-button';	
                        executeButton.title="execute";
                        executeButton.onclick = ()=>this.__execute();   
                        rightSpan.appendChild(executeButton); 
                    }
                }
                
                __execute(){
                	var command = this.textField.value;
                	window.treezWebSocketConsole.run(command);                     
                }

                __textFieldChanged(){
                	this.value = this.textField.value;                	          	
                }

                __browseFileOrDirectoryPath(){                  
                    window.treezTerminal.browseFileOrDirectoryPath(this.getDirectory(), (newValue)=>{
                        if(newValue){
	                       var oldValue = this.value;
	                        this.value = newValue;
	                	    this.textField.value = newValue;	
	                	    this.dispatchEvent(new Event('change'));                	                	   
                        }                    	
                    }); 
                }
                
                getDirectory(){
                   var fullPath = this.textField.value;
                   if(!fullPath){
                   		return null;
                   }
                   
                   if(fullPath.endsWith('/')){
                   		return fullPath;
                   }
                                                         
                   var items = fullPath.split('/');
                   var itemArray = items.slice(0, items.length-1);
                   return itemArray.join('/');
                   
                }

                updateElements(newValue){
                	if(this.textField){ 
                	 	if(newValue !== undefined){
                        	this.textField.value = newValue; 
                        }  else {
                        	this.textField.value = '';
                        }											
					}					    
                }                

                attributeChangedCallback(attr, oldValue, newValue) {
                	super.attributeChangedCallback(attr, oldValue, newValue) 
                    if(attr==='title'){
                    	if(this.labelElement){
                    		 this.labelElement.innerText= newValue;   
                    	}                                           
                    } 
                }               

               
            }
            window.customElements.define('treez-file-or-directory-path', TreezFileOrDirectoryPath); 

                   

        </script>	
		
	</head>

</html>