<!doctype html>
<html>

	<head>		
		<link rel="import" id="treez-file-or-directory-path" href="./treez-file-or-directory-path.html"/>
	</head>

	<body>
		<treez-file-or-directory-path label="File or directory path:" id="fileOrDirectoryPath">
			
		</treez-file-or-directory-path>	

		<script>

           var fileOrDirectoryPath = document.getElementById('fileOrDirectoryPath');           
           fileOrDirectoryPath.label = "Title for file or directory path";
           fileOrDirectoryPath.value = "C:\\test.txt";
           
		</script>
	</body>
</html>