<!doctype html>
<html>

	<head>


		<link type="text/css" rel="stylesheet" href="treez-file-or-directory-path.css" />


		<link rel="import" href="./../treezElement.html" >	

        <script>

            class TreezFileOrDirectoryPath extends TreezElement {

            	static get observedAttributes() {
            		return TreezElement.observedAttributes.concat(['title']);                    
                }

                constructor(){
                    super();                  
                    this.labelElement=undefined;   
                    this.textField=undefined;
                    this.fileInput=undefined;                        
                }            	

                connectedCallback() {
                	var self = this;

                    if(!self.labelElement){                       

                        var labelElement = document.createElement('label');  
                        self.labelElement = labelElement;                     
                        labelElement.innerText = self.title;                       
                        self.appendChild(labelElement);  

                        var container = document.createElement('div');
                        container.id ='container';                       
                        self.appendChild(container);  

                        var leftSpan = document.createElement('span');
                        container.appendChild(leftSpan);                    

                        var textField = document.createElement('input');
                        self.textField = textField;   
                        textField.value = self.value;                    
                        textField.type='text'  
                        textField.onchange = ()=>this.__textFieldChanged();                                              
                        leftSpan.appendChild(textField);

                        var rightSpan = document.createElement('span');
                        container.appendChild(rightSpan); 

					    var fileInput = document.createElement('input');
					    self.fileInput = fileInput;						   
					    fileInput.type='button';
					    fileInput.className='browse-button';	
					    fileInput.title=' ';
					    fileInput.onclick = ()=>this.__browseFileOrDirectorPath();				   
                        rightSpan.appendChild(fileInput);   
                        
                        var executeButton = document.createElement('input');
                        executeButton.type="button";
                        executeButton.className='play-button';	
                        executeButton.title="execute";
                        executeButton.onclick = ()=>this.__execute();   
                        rightSpan.appendChild(executeButton); 
                    }
                }
                
                __execute(){
                	var command = this.textField.value;
                	window.treezWebSocketConsole.run(command);                     
                }

                __textFieldChanged(){
                	this.value = this.textField.value;
                	this.fileInput.value = '';                	
                }

                __browseFileOrDirectoryPath(){                  
                    window.treezTerminal.browseFileOrDirectoryPath(this.getDirectory(), (result)=>{
                        if(result){
	                        this.value = result;
	                	    this.textField.value = result;
                        }                    	
                    }); 
                }
                
                getDirectory(){
                   var fullPath = this.textField.value;
                   if(!fullPath){
                   		return null;
                   }
                   
                   if(fullPath.endsWith('/')){
                   		return fullPath;
                   }
                                                         
                   var items = fullPath.split('/');
                   var itemArray = items.slice(0, items.length-1);
                   return itemArray.join('/');
                   
                }

                updateElements(newValue){
                	if(this.textField){ 
						this.textField.value= newValue;  

						if(this.fileInput){
							this.fileInput.value= '';   
						}
					}					    
                }                

                attributeChangedCallback(attr, oldValue, newValue) {
                	super.attributeChangedCallback(attr, oldValue, newValue) 
                    if(attr==='title'){
                    	if(this.labelElement){
                    		 this.labelElement.innerText= newValue;   
                    	}                                           
                    } 
                }               

               
            }
            window.customElements.define('treez-file-or-directory-path', TreezFileOrDirectoryPath); 

                   

        </script>	
		
	</head>

</html>