
treez-directory-path {   
    font-family: Consolas;
    font-size: 12px;
}

.treez-directory-path-container {
    display:'inline-block';
    white-space: nowrap;   
}

.treez-directory-path-browse-button {		
	border: none;
	width:16px;
	color:transparent;
	margin-right:4px;
	vertical-align: middle;
}

.treez-directory-path-play-button {		
	border: none;
	width:16px;
	color:transparent;
	vertical-align: middle;
}

.treez-directory-path-text-field {   
    width: 90%;      
    margin-right:4px;
    margin-left:0;
    vertical-align: middle;
}
