<!doctype html>
<html>

	<head>
		<link type="text/css" rel="stylesheet" href="../../../src/components/text/area/treezTextArea.css" />
	</head>

	<body>
		<treez-text-area label="Text area" id="textArea">
			
		</treez-text-area>	

		<script type="module">
			import TreezTextArea from '../../../src/components/text/area/treezTextArea.js';

            var textArea = document.getElementById('textArea');
            textArea.label = 'Text area:';
            textArea.value = 'Content of text\narea';
		</script>
		
	</body>
</html>