<!doctype html>
<html>

	<head>		
		<link rel="import" id="treez-combo-box" href="./treez-combo-box.html"/>
	</head>

	<body>
		<treez-combo-box label="ComboBox:" id="comboBox">
			
		</treez-combo-box>	

		<script>

           var comboBox = document.getElementById('comboBox');
           
           comboBox.label = "Hallo";
		   comboBox.options = "A,B,C";
           comboBox.value = "B";

           comboBox.options = "C,D";
           comboBox.value = "D";
           
		</script>
	</body>
</html>