.treez-image-combo-box-container {  
    vertical-align: top;  
    margin-bottom: 10px; 
}

.treez-image-combo-box-display { 
  padding:0px;	
  margin:0px;
}

.treez-image-combo-box-label {
	padding:0px;
	margin:0px;
	margin-top:2px;	
	vertical-align: top;
	display:inline-block;
	font-family: Consolas;
	font-size: 12px;
}

.treez-image-combo-box {
	display:inline-block;
	vertical-align: middle;
	border: 1px solid lightgrey;
	margin-left:3px;
	padding-left:2px;
	padding-right:2px;
	padding-top:0px;
	padding-bottom:0px;
}

.treez-image-combo-box:hover {	
	border: 1px solid grey;	
}

.treez-image-combo-box-image-label {
	padding-left:2px;
	margin:0px;
	vertical-align: middle;
}

.treez-image-combo-box-button {
	padding-left:3px;
	margin:0px;
}

.treez-image-combo-box-option-panel {	
	 align-items: center;
	
}

.treez-image-combo-box-option {	
	align-items: center;
	padding:0px;
	margin:0px;
	margin-right: 4px;
}

.treez-image-combo-box-option:hover {
	background-color: #3297FD; 
}

.treez-image-combo-box-option-image {	
	padding-left:4px;
	padding-top:4px;
	margin:0px;
}
