.treez-combo-box-container {   
    with: auto; 
    vertical-align: top;      
}


select {   
    with: auto; 
    vertical-align: middle;
    margin-left:5px;
	
}

label {  
     vertical-align: middle;	
}