.treez-combo-box-container {   
    with: auto; 
    vertical-align: top; 
}

.treez-combo-box-select {   
    with: auto; 
    vertical-align: middle;
    margin-left:5px;
    font-family: Consolas;
    font-size: 12px;
}

.treez-combo-box-label {  
    display: inline-block;
    vertical-align: middle;
    font-family: Consolas;
    font-size: 12px;
}