<!doctype html>
<html>

	<head>		
		<link rel="import" id="treez-enum-combo-box" href="./treez-enum-combo-box.html"/>
	</head>

	<body>
		<treez-enum-combo-box label="ComboBox:" id="enumComboBox">
			
		</treez-enum-combo-box>	

		<script>
		
		   class MyEnum {
			   
			   constructor(name){
				   this.name =name;
			   }
		   }
		   
		   MyEnum.FirstValue = new MyEnum('FirstValue');
		   MyEnum.SecondValue = new MyEnum('SecondValue');
		   
		   MyEnum.values = [
			   MyEnum.FirstValue, 
			   MyEnum.SecondValue
		   ];		  

           var enumComboBox = document.getElementById('enumComboBox');
           
           enumComboBox.label = "Hallo";
           enumComboBox.options = MyEnum;
           enumComboBox.value = MyEnum.SecondValue;
           
           console.info("Name of current combo box value: " + enumComboBox.value.name);    
           
		</script>
	</body>
</html>