.treez-combo-box-container {   
    with: auto; 
    vertical-align: top;   
}

.treez-combo-box-display {
  padding:0px;	
  margin:0px;
}

.treez-combo-box-label {
	vertical-alin: top;
	 display:inline-block;	
}

.treez-combo-box {
	display:inline-block;
	vertical-align: middle;
	border: 1px solid lightgrey;
	margin-left:5px;
	padding-left:2px;
	padding-right:2px;
	padding-top:0px;
	padding-bottom:0px;
}

.treez-combo-box:hover {	
	border: 1px solid grey;	
}

.treez-image-label {
	padding-left:2px;
	margin:0px;
}

.treez-combo-button {
	padding-left:3px;
	margin:0px;
}

.treez-option-panel {	
	 align-items: center;
	
}

.treez-option {	
	align-items: center;
	padding:0px;
	margin:0px;
}

.treez-option:hover {
	background-color: #3297FD; 
}

.treez-option-image {	
	padding-left:4px;
	padding-top:4px;
	margin:0px;
}

label {  
	 margin-top:5px;
     vertical-align: top !important;	
}