<!doctype html>
<html>

	<head>

		<link type="text/css" rel="stylesheet" href="treez-color.css" />		

		<link rel="import" href="./../treezElement.html" >	

        <script>

            class TreezColor extends TreezElement {

            	static get observedAttributes() {
            		return TreezElement.observedAttributes.concat(['label']);                    
                }

                get label() {
				  return this.getAttribute('label');
				}

				set label(newValue) {
				  this.setAttribute('label', newValue);	
				}  
				
				get value(){
					return this.__colorPicker.value;
				}

				set value(value) {

					if(value === undefined){
						throw new Error("Value for color must not be undefined!");
					}
					
					let hexString = this.__getColorHexString(value);					
					this.setAttribute('value', hexString);
				}  			

                constructor(){
                    super();
                    this.__container=undefined;
                    this.__label=undefined; 
                    this.__colorPicker=undefined;  
                }            	

                connectedCallback() {
                	
                    if(!this.__colorPicker){   

						var container = document.createElement('div');
						this.__container = container;
						container.setAttribute("class","treez-color-container");
						this.appendChild(container);      

						var label = document.createElement('label');
						this.__label = label;
						label.className = 'treez-color-label';
						label.innerText = this.label;                                            
						container.appendChild(label);             

						var colorPicker = document.createElement('input');                       
						this.__colorPicker = colorPicker;		
						container.appendChild(colorPicker); 
						colorPicker.className = 'treez-color-input';
						colorPicker.type='color';            		
                    }
                    
                    this.updateElements(this.value);	
                    this.disableElements(this.disabled)
					this.hideElements(this.hidden); 
                }               

                updateElements(newValue){
                	if(this.__colorPicker){                    	
						this.__colorPicker.value= newValue; 
                	}
                }	
               
                disableElements(booleanValue){
                	if(this.__colorPicker){   
                		this.__colorPicker.disabled = booleanValue;
                	}
                }	
               
                hideElements(booleanValue){
                	if(this.__container){  
                		this.hide(this.__container, booleanValue);                		
                	}
                }				

                attributeChangedCallback(attr, oldValue, newValue) {
                	super.attributeChangedCallback(attr, oldValue, newValue) 
                    if(attr==='label'){
                    	if(this.__label){
                    		 this.__label.innerText= newValue;   
                    	}                                           
                    } 					
					
                }                 

                __getColorHexString(value){
                	
                	if(value.startsWith('#')){
                		return value;
                	}
                	
                	var colorMap ={
                			'white': '#ffffff',
                			'black': '#000000',
                        	'red': '#ff0000',
                        	'green': '#008000',
                        	'blue': '#0000ff',
                        	'cyan': '#00ffff',
                        	'magenta': '#ff00ff',
                        	'yellow': '#ffff00',
                        	'grey': '#808080',
                        	'darkred': '#8b0000',
                        	'darkgreen': '#006400',
                        	'darkblue': '#00008b',
                        	'darkcyan': '#008b8b',
                        	'darkmagenta': '#8b008b'
                	};
                	
                	var hexString = colorMap[value];
                	
                	if(!hexString){
                		throw new Error('Unknown color value ' + value);
                	}
                	
                	return hexString;                 	
                	
                }                         
            }
            window.customElements.define('treez-color', TreezColor);                    

        </script>	
		
	</head>

</html>