<!doctype html>
<html>

	<head>

		<link type="text/css" rel="stylesheet" href="treez-color.css" />		

		<link rel="import" href="./../treezElement.html" >	

        <script>

            class TreezColor extends TreezElement {

            	static get observedAttributes() {
            		return TreezElement.observedAttributes.concat(['label']);                    
                }

                get label() {
				  return this.getAttribute('label');
				}

				set label(newValue) {
				  this.setAttribute('label', newValue);	
				}  
				
				get value(){
					return this.colorPicker.value;
				}

				set value(value) {

					if(value === undefined){
						throw new Error("Value for color must not be undefined!");
					}
					
					let hexString = this.getColorHexString(value);					
					this.setAttribute('value', hexString);
				}  			

                constructor(){
                    super();                     
                    this.labelElement=undefined; 
                    this.colorPicker=undefined;  
                }            	

                connectedCallback() {
                	var self = this;

                    if(!self.colorPicker){   

						var container = document.createElement('div');  
						container.setAttribute("class","treez-color-container");
						self.appendChild(container);      

						var labelElement = document.createElement('label');
						this.labelElement = labelElement;
						labelElement.className = 'treez-color-label';
						labelElement.innerText = self.label;                                            
						container.appendChild(labelElement);             

						var colorPicker = document.createElement('input');                       
						self.colorPicker = colorPicker;		
						container.appendChild(colorPicker); 
						colorPicker.className = 'treez-color-input';
						colorPicker.type='color';
						colorPicker.value= self.getAttribute("value");							
						colorPicker.onchange = ()=>this.__colorChanged(); 					
						                                       
                                                              		
                    }
                }  				

                __colorChanged(){
                	
				                 	
                } 

				

                attributeChangedCallback(attr, oldValue, newValue) {
                	super.attributeChangedCallback(attr, oldValue, newValue) 
                    if(attr==='label'){
                    	if(this.labelElement){
                    		 this.labelElement.innerText= newValue;   
                    	}                                           
                    } 					
					
                }  

                updateElements(newValue){
                	if(this.colorPicker){                    	
						this.colorPicker.value= newValue; 
                	}					    
                } 

                getColorHexString(value){
                	
                	if(value.startsWith('#')){
                		return value;
                	}
                	
                	var colorMap ={
                			'white': '#ffffff',
                			'black': '#000000',
                        	'red': '#ff0000',
                        	'green': '#008000',
                        	'blue': '#0000ff',
                        	'cyan': '#00ffff',
                        	'magenta': '#ff00ff',
                        	'yellow': '#ffff00',
                        	'grey': '#808080',
                        	'darkred': '#8b0000',
                        	'darkgreen': '#006400',
                        	'darkblue': '#00008b',
                        	'darkcyan': '#008b8b',
                        	'darkmagenta': '#8b008b'
                	};
                	
                	var hexString = colorMap[value];
                	
                	if(!hexString){
                		throw new Error('Unknown color value ' + value);
                	}
                	
                	return hexString;                 	
                	
                }                         
            }
            window.customElements.define('treez-color', TreezColor);                    

        </script>	
		
	</head>

</html>