<!doctype html>
<html>

	<head>		

        <script>

            class TreezColorValue {    
            	
            	 static get BLACK() {
             		return new TreezColorValue("black","");                    
                 }  
            	 
            	 static get BLUE() {
             		return new TreezColorValue("blue","");                    
                 } 
            	 
            	 static get CYAN() {
             		return new TreezColorValue("cyan","");                    
                 }  
            	 
            	 static get DARKBLUE() {
             		return new TreezColorValue("darkblue","");                    
                 }  
            	 
            	 static get DARKCYAN() {
             		return new TreezColorValue("darkcyan","");                    
                 } 
            	 
            	 static get DARKGREEN() {
             		return new TreezColorValue("darkgreen","");                    
                 } 
            	 
            	 static get DARKMAGENTA() {
             		return new TreezColorValue("darkmagenta","");                    
                 } 
            	 
            	 static get DARKRED() {
             		return new TreezColorValue("darkred","");                    
                 } 
            	 
            	 static get GREEN() {
             		return new TreezColorValue("green","");                    
                 } 
            	 
            	 static get GREY() {
             		return new TreezColorValue("grey","");                    
                 } 
            	 
            	 static get MAGENTA() {
             		return new TreezColorValue("magenta","");                    
                 } 
            	 
            	 static get RED() {
             		return new TreezColorValue("red","");                    
                 }  
            	 
            	 static get WHITE() {
             		return new TreezColorValue("white","");                    
                 } 
            	 
            	 static get YELLOW() {
             		return new TreezColorValue("yellow","");                    
                 }            	 
            	                  
                   
            	
            	
            	static values(){
            	    return [
            		 TreezColorValue.BLACK,  
                	 TreezColorValue.BLUE,   
                	 TreezColorValue.CYAN,                  	 
                	 TreezColorValue.DARKBLUE,
                	 TreezColorValue.DARKGREEN,  
                	 TreezColorValue.DARKMAGENTA,
                	 TreezColorValue.DARKRED,
                	 TreezColorValue.GREEN, 
                	 TreezColorValue.GREY,
                	 TreezColorValue.MAGENTA, 
                	 TreezColorValue.RED,
                	 TreezColorValue.RED,
                	 TreezColorValue.WHITE,
                	 TreezColorValue.YELLOW   	 
                	];
            	}
            	
            	static stringValues(){
            		let items = []
            		TreezColorValue.values().forEach((item)=>{
            			items.push(item);
            		});
            		return items;
            	}
            	
            	static forName(name){

            	    let result = null;
            		TreezColorValue.values().forEach((item)=>{
            			if(item.name === name){
            				result = item;
            			}            			
            		});

            		if(!result){
            		     throw new Error('Unknown color name: "' + name + '""');         
            		}
            		return result;            		
            		
            	}
            	
            	constructor(name, hexCode){
            		this.name = name;       
            		this.hexCode = hexCode;
            	}

            	toString(){
            	    return this.name;
            	}
                                     
            }  
           
                             

            </script>	
                            		
       	</head>

</html>