.treez-color-container { 
    vertical-align: top;   
}

.treez-color-label {
    display: inline-block;
    vertical-align: middle;
    font-family: Consolas;
    font-size: 12px;  
    margin:0px;	 
}

.treez-color-input {     
    with: auto; 
    margin-left: 3px;
    vertical-align: middle;
}