
.treez-code-area-label {
    font-family: Consolas;
    font-size: 12px;
     margin:0px;
}

.treez-code-area-container {
   
    border: 1px solid lightgrey;
   
    resize: vertical;
    overflow: auto !important;   
}

.treez-code-area-toolbar {

}

.treez-code-area-open-button {    
    border: none;
    width: 16px;
    color: transparent;
    margin-right: 4px;
	vertical-align: middle;
}

.treez-code-area-upload-button {
    border: none;
    width:16px;
    color:transparent;
    margin-right:4px;
	vertical-align: middle;
}

.treez-code-area-download-button {	
    border: none;
    width:16px;
    color:transparent;
    margin-right:4px;
	vertical-align: middle;
}


.CodeMirror {
	height: auto !important;
	font-family: var(--jp-code-font-family);
}