
.treez-code-area-label {
    font-family: Consolas;
    font-size: 12px;
}

.treez-code-area-container {
    font-family: Consolas;
    font-size: 12px;    
    border: 1px solid lightgrey;
    margin-top: 5px;
    margin-bottom: 5px;  
    resize: vertical;
    overflow: auto !important; 
}