
.treez-code-area-label {
    font-family: Consolas;
    font-size: 12px;
}

.treez-code-area-container {
   
    border: 1px solid lightgrey;
   
    resize: vertical;
    overflow: auto !important;   
}


.treez-code-area-container .CodeMirror pre {
    height:18px;
    caret-color: white;
    cursor: text;
    text-align:top;
     font-family: Consolas;
    font-size: 12px;   
}

.treez-code-area-container .CodeMirror-cursor {
	
	margin-left:1px;	
	
}
