<!doctype html>
<html>

	<head>
		<link type="text/css" rel="stylesheet" href="../../../src/components/list/treezStringList.css" />
	</head>

	<body>	
	
		<treez-string-list id="stringList" label="String list:" value="['a','b','c']"></treez-string-list>	

		<script type="module">
			import TreezStringList from '../../../src/components/list/treezStringList.js';

            var stringList = document.getElementById('stringList'); 
            stringList.value = ['a','b','c','d']; 
		</script>
		
	</body>
</html>