<!doctype html>
<html>

	<head>
		<link type="text/css" rel="stylesheet" href="../../../src/components/list/treezStringList.css"/>
		<link type="text/css" rel="stylesheet" href="../../../src/components/file/treezDirectoryPath.css"/>
	</head>

	<body>	
	
		<treez-directory-path-list id="pathList" label="Directory path list:" value="['c:/foo','c:/baa']" content-width="400px"></treez-directory-path-list>	

		<script type="module">
			import TreezDirectoryPathList from '../../../src/components/list/treezDirectoryPathList.js';

            var pathList = document.getElementById('pathList'); 
            pathList.value = ['c:/foo','c:/baa','c:/qux']; 
		</script>
		
	</body>
</html>