<!doctype html>
<html>

	<head>
		<link type="text/css" rel="stylesheet" href="../../../src/components/list/treezStringList.css" />
	</head>

	<body>	
	
		<treez-string-item-list id="stringItemList" label="String item list:" options="a,b,c,d" value="['a','b']" content-width="400px"></treez-string-item-list>	

		<script type="module">
			import TreezStringItemList from '../../../src/components/list/treezStringItemList.js';

            var stringItemList = document.getElementById('stringItemList'); 
            stringItemList.value = ['a','b','c']; 
		</script>
		
	</body>
</html>