<!doctype html>
<html>

	<head>
		<link type="text/css" rel="stylesheet" href="../../../src/components/comboBox/treezImageComboBox.css" />
	</head>

	<body>	
	
		<treez-color-map label="Color map:" id="colorMap">
			
		</treez-color-map>	

		<script type="module">
           import TreezColorMap from '../../../src/components/colorMap/treezColorMap.js';
		   import ColorMap from '../../../src/components/colorMap/colorMap.js';

           var colorMap = document.getElementById('colorMap'); 
          
           colorMap.value = ColorMap.rojal;          
           
		</script>
	</body>
</html>