.treez-string-list-container {   
    with: auto; 
    vertical-align: top;    
}

.treez-list-label {  
    vertical-align: middle;	
}

.treez-list-button {   
    with: auto; 
    height:25px;
    vertical-align: middle;
    margin-right:5px;	
}

.treez-list-table {
	width: 100%;
	margin-top:5px;	
	margin-bottom:5px;
	border-collapse: collapse;
}

.treez-list-tr {
	border: 1px solid lightgrey;
}

.treez-list-select {
	width: 100%;
}

