.treez-list-container { 
    vertical-align: top; 
    padding:0px;
    margin:0px;
}

.treez-list-label {     
   
}

.treez-list-button {   
    with: auto; 
    height:25px;
    vertical-align: middle;
    margin-right:5px;
    margin-top:5px;	
}

.treez-list-table {
	width: 100%;
	margin-top:5px;	
	margin-bottom:5px;
	margin-left:0px;
	margin-right:0px;
	padding:0px;	
	border:none;	
	border-collapse: collapse;
}

.treez-list-tr {	
	margin: 0px;
	padding: 0px;
}

.treez-list-td {
	margin: 0px;
	padding: 0px;
}

.treez-list-select {
	width: 100%;
}

