<!doctype html>
<html>

	<head>

		<link type="text/css" rel="stylesheet" href="treez-tab-folder.css" />

        <script>

            class TreezTabFolderHeader extends HTMLElement {}
            window.customElements.define('treez-tab-folder-header', TreezTabFolderHeader);

            class TreezTabHeader extends HTMLElement {}
            window.customElements.define('treez-tab-header', TreezTabHeader);

            class TreezTabFolder extends HTMLElement {

                constructor(){
                    super();
                    this.tabFolderHeader=undefined;
                }

                connectedCallback() {
                	
                    if(!this.tabFolderHeader){
                        this.style.display='block';
                        var shadowRoot = this.attachShadow({mode: 'open'});
                        this.tabFolderHeader = document.createElement('treez-tab-folder-header');
                        shadowRoot.appendChild(this.tabFolderHeader);

						var children = this.children
						while(children.length>0){
							var child = children[0];
							this.shadowRoot.appendChild(child);
							this.createTabHeaderForTab(child);
						}												            
                    }                    
                }               

                createTabHeaderForTab(tab){
 					var tabFolderHeader = this.shadowRoot.children[0]; 					
                       
					var newTabHeader = document.createElement('treez-tab-header');  
                    newTabHeader.innerText = tab.title;
                    newTabHeader.onclick=()=>{                    	
                        this.hideAllTabs(); 
                        tab.style.display='block';
                        newTabHeader.classList.add('selected')                        
                    };
                    tabFolderHeader.appendChild(newTabHeader);
                    this.showFirstTab(); 
                }

                hideAllTabs(){
                	var children = this.shadowRoot.children;
                	var tabFolderHeader = children[0];
                	var tabHeaders = tabFolderHeader.children;
                	for(var index=1;index<children.length;index++){ 
						var tab = children[index];                        
						tab.style.display='none';
						var tabHeader = tabHeaders[index-1];
						tabHeader.classList.remove('selected');
                    }   
                }

                showFirstTab(){
                	var shadowRoot = this.shadowRoot
                	var children = shadowRoot.children;
                	var tabFolderHeader = children[0];

					var firstTabHeader = tabFolderHeader.children[0];
					firstTabHeader.classList.add('selected')
                    tabFolderHeader.style.display="block"                    
                    for(var index=1;index<children.length;index++){                            
                        children[index].style.display="none";
                    }   
                    children[1].style.display="block";                      
                }               

                disconnectedCallback(){
                    while (this.firstChild) {
						this.removeChild(this.firstChild);
					}
                }
            }
            window.customElements.define('treez-tab-folder', TreezTabFolder);


            class TreezTab extends HTMLElement {

                constructor(){
                    super();
                    console.log('tab constructor');
                    this.tabHeader=undefined;
                }

                static get observedAttributes() {
                    return ['title']; 
                }               

                connectedCallback() {
                	
                	console.log('connected callback');
                    if(!this.tabHeader){   
                    	var tabFolder = this.parentElement;
						if(tabFolder){
							var shadowRoot = tabFolder.shadowRoot;
							var tabFolderHeaders = shadowRoot.children[0];
							shadowRoot.appendChild(this);
							this.tabHeader = tabFolder.createTabHeaderForTab(this);
						}                      
                    }                   
                }

                disconnectedCallback(){
                	console.log('disconnected callback');
                	while (this.firstChild) {
						this.removeChild(this.firstChild);
					}
                }

                adoptedCallback(){
                    console.log('adopted callback');
                }

                attributeChangedCallback(attr, oldValue, newValue) {
                    if(attr==='title' && this.tabHeader){
                        this.tabHeader.innerText= newValue;                       
                    }
                } 
               
            }
            window.customElements.define('treez-tab', TreezTab);

        </script>	
		
	</head>

</html>