<!doctype html>
<html>

	<head>		
		<link rel="import" id="treez-tab-folder" href="./treez-tab-folder.html"/>
	</head>

	<body>	
		
			<treez-tab-folder id="root">
				<treez-tab title="First tab">
					<div>           
					First tab content
					</div>
				</treez-tab>

				<treez-tab title="Second tab" >
					<div :style="{ 'background-color': color  }">
					Second tab content
					</div>
				</treez-tab>
			</treez-tab-folder>
		
	
		<script> 

			

		  var root = document.getElementById('root');
			  var treezTab = document.createElement('treez-tab');
			  treezTab.title = 'Third tab';
			  root.appendChild(treezTab);

			  var content = document.createElement('div');
			  content.innerText = 'Third tab content';
			  treezTab.appendChild(content); 
            
		</script>
	</body>
</html>