<!doctype html>
<html>

	<head>
		<link type="text/css" rel="stylesheet" href="../../../src/components/text/field/treezTextField.css" />
	</head>
	
	<body>
		<treez-text-field label="Text field:" id="textField">
			
		</treez-text-field>	

		<script type="module">
			import TreezTextField from '../../../src/components/text/field/treezTextField.js';

            var textField = document.getElementById('textField');
            textField.label = 'Label:';
            textField.value = 'Text field value';
		</script>
		
	</body>
</html>