<!doctype html>
<html>

	<head>		
			<link type="text/css" rel="stylesheet" href="../../../src/components/file/treezFilePath.css" />			
	</head>

	<body>
		<treez-file-path label="File path" id="filePath" content-width="300px">
			
		</treez-file-path>	

		<script type="module">			
            import TreezFilePath from '../../../src/components/file/treezFilePath.js';

            var filePath = document.getElementById('filePath');           
            filePath.label = 'File path:';
            filePath.value = 'C:/test.txt';
		</script>
	</body>
	
</html>