<!doctype html>
<html>	

	<head>
		<link type="text/css" rel="stylesheet" href="../../../src/components/file/treezDirectoryPath.css" />
	</head>

	<body>
		<treez-directory-path label="Directory path" id="directoryPath" content-width="300px">
			
		</treez-directory-path>	

		<script type="module">	
            import TreezDirectoryPath from '../../../src/components/file/treezDirectoryPath.js';
			
            var directoryPath = document.getElementById('directoryPath');           
            directoryPath.label = 'Directory path:';
            directoryPath.value = 'C:/';
		</script>
	</body>
</html>