<!doctype html>
<html>

	<head>		
			<link type="text/css" rel="stylesheet" href="../../../src/components/file/treezFilePath.css" />			
	</head>

	<body>
		<treez-file-path label="File path" id="filePath" content-width="300px">
			
		</treez-file-path>	

		<script type="module">			
            import TreezFilePath from '../../../src/components/file/treezFilePath.js';
            import Treez from '../../../src/treez.js'; 
			import StandAloneTerminal from '../../../src/standAloneTerminal.js'; 


            Treez.config({
				home: '..',
				isSupportingPython: false	
			});	

            window.treezTerminal = new StandAloneTerminal();

            var filePath = document.getElementById('filePath');           
            filePath.label = 'File path:';
            filePath.value = 'C:/test.txt';
		</script>
	</body>
	
</html>