<!doctype html>
<html>

	<head>
		<link type="text/css" rel="stylesheet" href="../../../src/components/double/treezDouble.css" />
	</head>
	
	<body>
	
		<treez-double label="Double:" id="double" value="5.0"> </treez-double>	

		<script type="module">
			import TreezDouble from '../../../src/components/double/treezDouble.js';

            var double = document.getElementById('double');
            double.label = 'Label:';
            double.value = 4.12;          
           
		</script>
		
	</body>
</html>