<!doctype html>
<html>

	<head>		

        <script>

            class TreezErrorBarStyleValue {                
				
            	static get BAR() {
            		return new TreezErrorBarStyleValue("bar");                    
                }            	          	

            	static get BAR_BOX() {
            		return new TreezErrorBarStyleValue("barbox");                    
                }            	          	

            	static get BAR_CURVE() {
            		return new TreezErrorBarStyleValue("barcurve");                    
                }            	          	

            	static get BAR_DIAMOND() {
            		return new TreezErrorBarStyleValue("bardiamond");                    
                }            	          	

            	static get BAR_ENDS() {
            		return new TreezErrorBarStyleValue("barends");                    
                }            	          	

            	static get BOX() {
            		return new TreezErrorBarStyleValue("box");                    
                }            	          	

            	static get BOX_FILL() {
            		return new TreezErrorBarStyleValue("boxfill");                    
                }            	          	

            	static get CURVE() {
            		return new TreezErrorBarStyleValue("curve");                    
                }            	          	

            	static get DIAMOND() {
            		return new TreezErrorBarStyleValue("diamond");                    
                }            	          	

            	static get DIAMOND_FILL() {
            		return new TreezErrorBarStyleValue("diamondfill");                    
                }            	          	

            	static get FILL_HORZ() {
            		return new TreezErrorBarStyleValue("fillhorz");                    
                }            	          	

            	static get FILL_VERT() {
            		return new TreezErrorBarStyleValue("fillvert");                    
                }            	          	

            	static get LINE_HORZ() {
            		return new TreezErrorBarStyleValue("linehorz");                    
                }            	          	

            	static get LINE_HORZ_BAR() {
            		return new TreezErrorBarStyleValue("linehorzbar");                    
                }            	          	

            	static get LINE_VERT() {
            		return new TreezErrorBarStyleValue("linevert");                    
                }            	          	

            	static get LINE_VERT_BAR() {
            		return new TreezErrorBarStyleValue("linevertbar");                    
                }  
            	
            	
            	static values(){
            	    return [
            	    	 TreezErrorBarStyleValue.BAR,  
	            		 TreezErrorBarStyleValue.BAR_BOX,
	            		 TreezErrorBarStyleValue.BAR_CURVE,
	            		 TreezErrorBarStyleValue.BAR_DIAMOND,
	            		 TreezErrorBarStyleValue.BAR_ENDS,
	            		 TreezErrorBarStyleValue.BOX,
	            		 TreezErrorBarStyleValue.BOX_FILL,
	            		 TreezErrorBarStyleValue.CURVE,
	            		 TreezErrorBarStyleValue.DIAMOND,
	            		 TreezErrorBarStyleValue.DIAMOND_FILL,
	            		 TreezErrorBarStyleValue.FILL_HORZ,
	            		 TreezErrorBarStyleValue.FILL_VERT,
	            		 TreezErrorBarStyleValue.LINE_HORZ,
	            		 TreezErrorBarStyleValue.LINE_HORZ_BAR,
	            		 TreezErrorBarStyleValue.LINE_VERT,
	            		 TreezErrorBarStyleValue.LINE_VERT_BAR
                	];
            	}
            	
            	static stringValues(){
            		let items = []
            		TreezErrorBarStyleValue.values().forEach((item)=>{
            			items.push(item);
            		});
            		return items;
            	}
            	
            	static byName(name){

            	    let result = null;
            		TreezErrorBarStyleValue.values().forEach((item)=>{
            			if(item.name === name){
            				result = item;
            			}            			
            		});

            		if(!result){
            		     throw new Error('Unknown error-bar-style name: "' + name + '""');         
            		}
            		return result;            		
            		
            	}
            	
            	constructor(name){
            		this.name = name;            		
            	}

            	toString(){
            	    return this.name;
            	}
                                     
            }            
                             

            </script>	
                            		
       	</head>

</html>