<!doctype html>
<html>

	<head>		

		<link rel="import" href="./../imageComboBox/treez-image-combo-box.html" >	
		<link rel="import" href="./error-bar-style.html" >

        <script>

            class TreezErrorBarStyle extends TreezImageComboBox {  
            	
            	get value() {
					 let stringValue = this.getAttribute('value');
					 try{
					 	return ErrorBarStyle.forName(stringValue);
					 } catch(error){
					 	return null;
					 }
				}  
            	
            	set value(errorBarStyle) {
            		super.value = errorBarStyle;	
				}  		
				
                constructor(){
                    super();                     
                }  

                beforeConnectedCallbackHook(){
                	 this.options=ErrorBarStyle.names;
            	} 
                                     
            }
            window.customElements.define('treez-error-bar-style', TreezErrorBarStyle);                    

        </script>	
		
	</head>

</html>