<!doctype html>
<html>

	<head>		

		<link rel="import" href="./../imageComboBox/treez-image-combo-box.html" >	
		<link rel="import" href="./treez-error-bar-style-value.html" >

        <script>

            class TreezErrorBarStyle extends TreezImageComboBox {  
            	
            	get value() {
					 let stringValue = this.getAttribute('value');
					 return TreezErrorBarStyleValue.forName(stringValue);
				}  
            	
            	set value(newValue) {
            		super.value = newValue;	
				}  		
				
                constructor(){
                    super();  
                    this.options=TreezErrorBarStyleValue.stringValues();
                }  
                                     
            }
            window.customElements.define('treez-error-bar-style', TreezErrorBarStyle);                    

        </script>	
		
	</head>

</html>