<!doctype html>
<html>

	<head>
		<link type="text/css" rel="stylesheet" href="../../../src/components/comboBox/treezComboBox.css" />
	</head>

	<body>
		<treez-enum-combo-box label="EnumComboBox:" id="enumComboBox">
			
		</treez-enum-combo-box>	

		<script type="module">
			
			import TreezEnumComboBox from '../../../src/components/comboBox/treezEnumComboBox.js';
            		import Enum from '../../../src/components/enum.js';
		
		   	class MyEnum extends Enum {}		   
		   	MyEnum.firstValue = new MyEnum('firstValue');
		   	MyEnum.secondValue = new MyEnum('secondValue');
		   	  	  

			var enumComboBox = document.getElementById('enumComboBox');

			enumComboBox.label = 'Enum combo box:';
			enumComboBox.enum = MyEnum;
			enumComboBox.value = MyEnum.secondValue;

			console.info('Name of current combo box value: ' + enumComboBox.value.name);    
           
		</script>
	</body>
</html>
