<!doctype html>
<html>

	<head>
		<link type="text/css" rel="stylesheet" href="../../../src/components/comboBox/treezImageComboBox.css" />
	</head>
	
	<body>	
	
		<treez-image-combo-box label="Image combo box:" id="imageComboBox" ></treez-image-combo-box>	

		<script type="module">
			import TreezimageComboBox from '../../../src/components/comboBox/treezImageComboBox.js';

            var imageComboBox = document.getElementById('imageComboBox');
            imageComboBox.options = ["A","B","C"];
            imageComboBox.value = "B";  
		</script>
		
	</body>
</html>