.treez-tool-icon {
    margin: 5px;
}

.treez-tree-content {
    background-color: white;
 	position: absolute;
 	top: 25px;
 	bottom: 0px; 		
 	width: 100%;
}

.treez-details {
	font-family: Arial,sans-serif;
    font-size: 12px;
}

.treez-indent {
	margin-left: 12px;
}

.treez-leaf-node {
	margin-left: 25px;
}

.treez-summary {
	outline: none;
}

.treez-node-icon {
	vertical-align: middle;	
	margin-bottom: 2px;
}

.treez-node-label {	
	margin-left: 5px;	
}

.treez-context-menu {
	position: absolute;
    display: none;    
    outline: thin solid lightgrey;                         
    background-color: white;
}

.treez-menu-button {
	min-width: 100px;
	min-height: 22px;
    white-space: nowrap;    	
    border: none;
    background-color: white;
}

.treez-menu-button:hover {	
    background-color: #ebebebff;
}

.treez-menu-button-icon {
	vertical-align: middle;
    float: left;
}

.treez-menu-button-label {
	margin-left: 5px;
	float: left;	
    font-family: Arial,sans-serif;
    font-size: 12px;	
}





















