<!doctype html>
<html>
	<head>
		<link type="text/css" rel="stylesheet" href="../../../src/components/color/treezColor.css" />		
	</head>

	<body>	
	
		<treez-color label="Color: " id="color"></treez-color>

		<script type = "module">
		    import Color from '../../../src/components/color/color.js';	
		    import TreezColor from '../../../src/components/color/treezColor.js';	

			var treezColor = document.getElementById('color');          
           	treezColor.value = Color.blue;    
		</script>
		
	</body>
</html>