<!doctype html>
<html>
	<body>	
	
		<head>
			<link type="text/css" rel="stylesheet" href="../../../src/components/comboBox/treezImageComboBox.css" />
		</head>
	
		<treez-symbol-style label="Symbol style:" id="symbolStyle"></treez-symbol-style>	

		<script type="module">
           import TreezSymbolStyle from '../../../src/components/symbolStyle/treezSymbolStyle.js';
           import SymbolStyle from '../../../src/components/symbolStyle/symbolStyle.js';

           var symbolStyle = document.getElementById('symbolStyle');           
           symbolStyle.value = SymbolStyle.cross;   
		</script>
		
	</body>
</html>