<!doctype html>
<html>

	<head>		

        <script>

            class TreezLineStyleValue {                
				
            	static get NONE() {
            		return new TreezLineStyleValue("none", "0,9999999999");                    
                }            	          	

            	static get SOLID() {
            		return new TreezLineStyleValue("solid", "none");                    
                }            	          	

            	static get DASHED() {
            		return new TreezLineStyleValue("dashed", "6,2");                    
                }            	          	

            	static get DOTTED() {
            		return new TreezLineStyleValue("dotted", "2,2");                    
                }            	          	

            	static get DASH_DOT() {
            		return new TreezLineStyleValue("dash-dot", "6,2,2,2");                    
                }            	          	

            	static get DASH_DOT_DOT() {
            		return new TreezLineStyleValue("dash-dot-dot", "6,2,2,2,2,2");                    
                }            	          	

            	static get DOTTED_FINE() {
            		return new TreezLineStyleValue("dotted-fine", "3,5");                    
                }            	          	

            	static get DASHED_FINE() {
            		return new TreezLineStyleValue("dashed-fine", "11,5");                    
                }            	          	

            	static get DASH_DOT_FINE() {
            		return new TreezLineStyleValue("dash-dot-fine", "10,6,2,6");                    
                }            	          	

            	static get DOT1() {
            		return new TreezLineStyleValue("dot1", "2,1");                    
                }            	          	

            	static get DOT2() {
            		return new TreezLineStyleValue("dot2", "2,4");                    
                }            	          	

            	static get DOT3() {
            		return new TreezLineStyleValue("dot3", "2,7");                    
                }            	          	

            	static get DOT4() {
            		return new TreezLineStyleValue("dot4", "2,9");                    
                }            	          	

            	static get DASH1() {
            		return new TreezLineStyleValue("dash1", "6,5");                    
                }            	          	

            	static get DASH2() {
            		return new TreezLineStyleValue("dash2", "6,24");                    
                }            	          	

            	static get DASH3() {
            		return new TreezLineStyleValue("dash3", "11,8");                    
                }            	          	

            	static get DASH4() {
            		return new TreezLineStyleValue("dash4", "15,8");                    
                }            	          	

            	static get DASH5() {
            		return new TreezLineStyleValue("dash5", "15,15");                    
                }            	          	

            	static get DASHDOT1() {
            		return new TreezLineStyleValue("dashdot1", "7,4,2,4");                    
                }            	          	

            	static get DASHDOT2() {
            		return new TreezLineStyleValue("dashdot2", "13,4,2,4");                    
                }            	          	

            	static get DASHDOT3() {
            		return new TreezLineStyleValue("dashdot3", "5,2,2,2");                    
                } 
            	
            	static values(){
            	    return [
            		 TreezLineStyleValue.NONE,  
                	 TreezLineStyleValue.SOLID,   
                	 TreezLineStyleValue.DASHED,                  	 
                	 TreezLineStyleValue.DOTTED,
                	 TreezLineStyleValue.DASH_DOT,  
                	 TreezLineStyleValue.DASH_DOT_DOT,
                	 TreezLineStyleValue.DOTTED_FINE,
                	 TreezLineStyleValue.DASHED_FINE, 
                	 TreezLineStyleValue.DASH_DOT_FINE,
                	 TreezLineStyleValue.DOT1, 
                	 TreezLineStyleValue.DOT2,
                	 TreezLineStyleValue.DOT3,
                	 TreezLineStyleValue.DOT4,
                	 TreezLineStyleValue.DASH1,  
                	 TreezLineStyleValue.DASH2,  
                	 TreezLineStyleValue.DASH3, 
                	 TreezLineStyleValue.DASH4, 
                	 TreezLineStyleValue.DASH5,  
                	 TreezLineStyleValue.DASHDOT1,
                	 TreezLineStyleValue.DASHDOT2, 
                	 TreezLineStyleValue.DASHDOT3           	 
                	];
            	}
            	
            	static stringValues(){
            		let items = []
            		TreezLineStyleValue.values().forEach((item)=>{
            			items.push(item);
            		});
            		return items;
            	}
            	
            	static forName(name){

            	    let result = null;
            		TreezLineStyleValue.values().forEach((item)=>{
            			if(item.name === name){
            				result = item;
            			}            			
            		});

            		if(!result){
            		     throw new Error('Unknown line style name: "' + name + '""');         
            		}
            		return result;            		
            		
            	}
            	
            	constructor(name, dashArray){
            		this.name = name;
            		this.dashArray=dashArray;
            	}

            	toString(){
            	    return this.name;
            	}
                                     
            }  
           
                             

            </script>	
                            		
       	</head>

</html>