<!doctype html>
<html>

	<head>		

		<link rel="import" href="./../imageComboBox/treez-image-combo-box.html" >	
		<link rel="import" href="./treez-line-style-value.html" >

        <script>

            class TreezLineStyle extends TreezImageComboBox {  
            	
            	get value() {
					 let stringValue = this.getAttribute('value');
					 return TreezLineStyleValue.byName(stringValue);
				}  
            	
            	set value(newValue) {
            		super.value = newValue;	
				}  		
				
                constructor(){
                    super();  
                    this.options=TreezLineStyleValue.stringValues();
                }  
                                     
            }
            window.customElements.define('treez-line-style', TreezLineStyle);                    

        </script>	
		
	</head>

</html>