<!doctype html>
<html>

	<head>		

		<link rel="import" href="./../imageComboBox/treez-image-combo-box.html" >	
		<link rel="import" href="./line-style.html" >

        <script>

            class TreezLineStyle extends TreezImageComboBox {  
            	
            	get value() {
					 let stringValue = this.getAttribute('value');
					 try{
					 	return LineStyle.forName(stringValue);
					 } catch(error){
						 return null;
					 }
				}  
            	
            	set value(lineStyle) {
            		super.value = lineStyle;	
				}  		
				
                constructor(){
                    super();  
                    this.options=LineStyle.names;
                }  
                                     
            }
            window.customElements.define('treez-line-style', TreezLineStyle);                    

        </script>	
		
	</head>

</html>