<!doctype html>
<html>

	<head>
		<link type="text/css" rel="stylesheet" href="../../../src/components/integer/treezInteger.css" />
	</head>
	
	<body>
	
		<treez-integer label="Integer:" id="integer" value="5"> </treez-integer>	

		<script type="module">
			import TreezInteger from '../../../src/components/integer/treezInteger.js';

            var integer = document.getElementById('integer');
            integer.label = 'Label:';
            integer.value = 4;          
           
		</script>
		
	</body>
</html>