.treez-number {	
	display: flex;
	margin-bottom:10px;
}

.treez-number-label {	
	padding-top:2px;
	float: left;
	font-family: Consolas;
	font-size: 12px;
	margin-bottom:0px;
}

.treez-number-input {
	margin-left:4px;
    font-family: Consolas;
    font-size: 12px;
    width:20%;

}