<!doctype html>
<html>

	<head>

		<link type="text/css" rel="stylesheet" href="treez-checkbox.css" />

		<link rel="import" href="./../treezElement.html" >	

        <script>

            class TreezCheckbox extends TreezElement {

            	static get observedAttributes() {
            		return TreezElement.observedAttributes.concat(['label']);                    
                }

                 get label() {
				  return this.getAttribute('label');
				}

				set label(newValue) {
				  this.setAttribute('label', newValue);	
				}    

                constructor(){
                    super(); 
                    this.checkbox=undefined;   
                    this.labelElement=undefined;                         
                }            	

                connectedCallback() {
                	var self = this;

                    if(!self.checkbox){   

						var container = document.createElement('div');                   
						self.appendChild(container);                 

						var checkbox = document.createElement('input');                       
						self.checkbox = checkbox;
						checkbox.type='checkbox'						
						checkbox.value= self.value;	
						checkbox.onchange = ()=>this.__checkboxChanged();                                              
						container.appendChild(checkbox); 

						var labelElement = document.createElement('label');
						this.labelElement = labelElement;
						labelElement.innerText = self.label;                                            
						container.appendChild(labelElement);                                               
                                                              		
                    }
                }              

                __checkboxChanged(){
                	this.value = this.checkbox.checked;                	
                }  

                attributeChangedCallback(attr, oldValue, newValue) {
                	super.attributeChangedCallback(attr, oldValue, newValue) 
                    if(attr==='label'){
                    	if(this.labelElement){
                    		 this.labelElement.innerText= newValue;   
                    	}                                           
                    } 
                }  

                updateElements(newValue){
                	if(this.checkbox){                    	
						this.checkbox.value= newValue; 
                	}					    
                }                          
            }
            window.customElements.define('treez-checkbox', TreezCheckbox);                    

        </script>	
		
	</head>

</html>