
.treez-check-box-container {
	margin-bottom:3px;  
	padding:0px;   
}

.treez-check-box-input {   
	display:inline-block;
	vertical-align: middle;	
    with: auto; 
    padding-bottom: -3px;  
    height: 19px;
}

.treez-check-box-label {  
	display:inline-block;	
	vertical-align: sub;	
 	padding-left:3px;
 	margin:0px;		
 	
	font-family: Consolas;
	font-size: 12px;

}