
.treez-check-box-container {
	margin-bottom:3px;  
	padding:0px;   
}

.treez-check-box-input {   
    with: auto; 
    vertical-align: baseline;     
}

.treez-check-box-label {  
 	padding-left:3px;
     vertical-align: middle;	    
}