<!doctype html>
<html>

	<head>


		<link type="text/css" rel="stylesheet" href="treez-check-box.css" />
		

		<link rel="import" href="./../treezElement.html" >	

        <script>

            class TreezCheckBox extends TreezElement {

            	static get observedAttributes() {
            		return TreezElement.observedAttributes.concat(['label']);                    
                }

                set value(newValue) {                	
				  this.setAttribute('value', newValue);	
				}  

				get value() {
				  var valueString = this.getAttribute('value');					
				  return valueString === 'true';
				}   

                 get label() {
				  return this.getAttribute('label');
				}

				set label(newValue) {
				  this.setAttribute('label', newValue);	
				} 

				  

                constructor(){
                    super(); 
                    this.checkBox=undefined;   
                    this.labelElement=undefined;                                   
                }            	

                connectedCallback() {
                	var self = this;

                    if(!self.checkBox){   

						var container = document.createElement('div');                   
						self.appendChild(container);                 

						var checkBox = document.createElement('input');                       
						self.checkBox = checkBox;
						checkBox.type='checkBox'	
						checkBox.className = 'treez-check-box';

						switch(self.value){
						    	case 'true':
						    		self.value=true;
						    		checkBox.checked=true;
						    		break;
						    	case 'false':
						    	    self.value = false;
						    	    checkBox.checked=false;
						    	    break;
						    	case 'undefined':
						    	    self.value = false;
						    	    checkBox.checked=false;
						    	    break;
						    	case true:
						    		checkBox.checked=true;
						    		break;
						    	case false:
						    		checkBox.checked=false;
						    		break;
						}						  
															
						
						checkBox.onchange = ()=>{
							self.value = this.checkBox.checked; 
						};                                              
						container.appendChild(checkBox); 

						var labelElement = document.createElement('label');
						this.labelElement = labelElement;
						labelElement.innerText = self.label;   
						labelElement.className = 'treez-check-box-label';
						container.appendChild(labelElement);                                               
                                                              		
                    }
                }     

                __addListenerToUpdatePropertyOnElementChanges(parent, propertyName){				

					this.addEventListener('input', (event)=>{ 
						  var oldValue = parent[propertyName];
						  var newValue = event.target.checked;
						  if(newValue != oldValue){
							parent[propertyName] = newValue; 							     
						  }    	
					}); 					
				}            

                attributeChangedCallback(attr, oldValueObj, newValueObj) {
                	if(attr==='value'){ 

                	  

                	    var oldValue = oldValueObj === 'true' || oldValueObj === true;
                	    var newValue = newValueObj === 'true' || newValueObj === true;
                	                            	                		
						if(newValue!==oldValue){	
							this.updateElements(newValue);	
						}
                     }               	  
                	
                    if(attr==='label'){
                    	if(this.labelElement){
                    		 this.labelElement.innerText= newValue;   
                    	}                                           
                    } 
                }  

                updateElements(newValue){  
                	if(this.checkBox){                  	                 	                      	
						if(this.checkBox.checked !== newValue){
							this.checkBox.checked = (newValue === true);
						}; 						 
                	}					    
                }                          
            }
            window.customElements.define('treez-check-box', TreezCheckBox);                    

        </script>	
		
	</head>

</html>