<!doctype html>
<html>

	<head>

		<link type="text/css" rel="stylesheet" href="./section.css" />

        <script>

            class TreezSectionHeader extends HTMLElement {}
            window.customElements.define('treez-section-header', TreezSectionHeader); 

            class TreezSection extends HTMLElement { 

             	constructor(){
                    super();
                    this.sectionHeader=undefined;
                    this.isInitiallyExpanded=true;
                    this.observerChildren();
                }

            	static get observedAttributes() {
                    return ['label','collapsed']; 
                }      

                connectedCallback() {
                    this.style.display='block';       
                    this.sectionHeader = document.createElement('treez-section-header');
                    this.sectionHeader.onclick = this.toggleExpansion;                   
                    this.appendChild(sectionHeader);                    
                }

                attributeChangedCallback(attr, oldValue, newValue) {
                    if(attr==='label'){
                        this.sectionHeader.innerText= newValue;                       
                    } else if(attr==='collapsed'){
						this.isInitiallyExpanded=false;
                    }
                }

                observeChildren(){
                	//also see documentation at https://developer.mozilla.org/en-US/docs/Web/API/MutationObserver
					var observer = new MutationObserver(this.childrenChanged);
					var config = { 					              
					               childList: true 
					             };
					observer.observe(this, config);
                }

                childrenChanged(mutations){
                	mutations.forEach((mutation)=>{
                		console.log('A child node has been added or removed.');
                		if(this.isInitiallyExpanded){
                			this.children[1].style.display="block";
                		} else {
                			this.children[1].style.display="none";
                		}
                	});						
                }

                toggleExpansion(){
                	if(this.children.length<2){
                		return;
                	}

                	var content = this.children[1];
                	var style = content.style;
                	if(style==='none'){
						content.style.display='block';
                	} else {
                		content.style.display='none';
                	}                	

                }
            }
            window.customElements.define('treez-section', TreezSection);            

        </script>	
		
	</head>

</html>