<!doctype html>
<html>

	<head>

 
		<link type="text/css" rel="stylesheet" href="treez-section.css" />


        <script>

            class TreezSectionHeader extends HTMLElement {}
            window.customElements.define('treez-section-header', TreezSectionHeader); 

            class TreezSectionAction extends HTMLElement {

 				static get observedAttributes() {
                    return ['title','image'];
                }

                 get image() {
				  return this.getAttribute('image');
				}

				set image(image) {
				  this.setAttribute('image', image);
				}	

                constructor(){
                    super();  
                    this.actions = [];                  
                }                            

                addAction(action){
                	this.actions.push(action);                	
                }               			

            }
            window.customElements.define('treez-section-action', TreezSectionAction); 



            class TreezSection extends HTMLElement {

                static get observedAttributes() {
                    return ['label','collapsed','actions'];
                }
                
                get label() {
  				  return this.getAttribute('label');
  				}

  				set label(newValue) {
  				  this.setAttribute('label', newValue);	  

  				}  

                get actions(){
					return this.actionArray;
				}

				set actions(actions){
					this.actionArray=actions;
				}                  

                set children(children){
                    super.children=children;
				}
				
				get children(){
                    return super.children;
				}

                constructor(){
                    super();
                    this.sectionHeader=undefined;
                    this.isInitiallyExpanded=true;
                    this.actionArray=[];
                }

            	

                connectedCallback() {
                    if(!this.sectionHeader){
                    	this.className='treez-section';                       
                        this.sectionHeader = document.createElement('treez-section-header');

                        let label = document.createElement('span');
                        label.classList.add('treez-section-header-label');
                        label.innerText = this.label;        
                        this.sectionHeader.appendChild(label);

                        let toolbar = document.createElement('span')
                        toolbar.classList.add('treez-section-action-toolbar');
                        this.sectionHeader.appendChild(toolbar);
                        this.__processSectionActions(toolbar);
                                      
                        this.sectionHeader.onclick = this.__toggleExpansion;
                        this.insertBefore(this.sectionHeader, this.firstChild);                        
                    }
                }
                
                expand(){
                	const section = this.parentElement;
                	if(section.children.length<2){
                		return;
                	}

                    let header = section.children[0];
                	let content = this.__getSectionContentDiv(section)
                	let style = content.style;
                	
					style.display='block';
					header.classList.remove('collapsed');  
                	
                }

                __toggleExpansion(){
                	const section = this.parentElement;
                	if(section.children.length<2){
                		return;
                	}

                    let header = section.children[0];
                	let content = section.__getSectionContentDiv(section)
                	let style = content.style;
                	if(style['display']==='none'){
						style.display='block';
						header.classList.remove('collapsed');
                	} else {
                		style.display='none';
                		header.classList.add('collapsed');
                	}                 	
                }  
                
                __getSectionContentDiv(section){

                    for(let child of section.children){
						if(child.tagName ==='DIV'){
							return child;
						}
					  } 
					  return section.children[1]; 
                  }

                __processSectionActions(toolbar){ 

                	for(let index=0; index < this.children.length;index++){
                		let child = this.children[index];
                		if(child instanceof TreezSectionAction){
                			this.__processSectionAction(child, toolbar);                			
                		}
                	}                	
                }

                __processSectionAction(sectionAction, toolbar){
                	
                	let img = document.createElement('img');
                	img.classList.add('treez-section-action');
                	img.title = sectionAction.title;                	
                	img.onclick = ()=> {
                		let action = sectionAction.actions[0];
                		action();
                	};
                	/*{
                        var event = document.createEvent("MouseEvents");
						event.initEvent("click");
                        sectionAction.dispatchEvent(event);
                	};
                	*/
                	img.src="/icons/" + sectionAction.image;
                	toolbar.appendChild(img);
                	
                }

                disconnectedCallback(){
                	while (this.firstChild) {
						this.removeChild(this.firstChild);
					}
                }

                attributeChangedCallback(attr, oldValue, newValue) {
                    if(attr==='label'){
                    	if(this.sectionHeader){
                    		 this.sectionHeader.innerText= newValue;   
                    	}                                           
                    } else if(attr==='collapsed'){
						this.isInitiallyExpanded=false;
                    }
                }

                observeChildren(){
                	//also see documentation at https://developer.mozilla.org/en-US/docs/Web/API/MutationObserver
					var observer = new MutationObserver(this.__childrenChanged);
					var config = { 					              
					               childList: true 
					             };
					observer.observe(this, config);
                }

                __childrenChanged(mutations){
                	mutations.forEach((mutation)=>{
                		console.log('A child node has been added or removed.');
                		if(this.isInitiallyExpanded){
                			this.children[1].style.display="block";
                		} else {
                			this.children[1].style.display="none";
                		}
                	});						
                }

                

               

				
            }
            window.customElements.define('treez-section', TreezSection);            

        </script>	
		
	</head>

</html>