treez-section {
    display: block;
    background-color:white;
    width: 99.5%;
    font-family: Consolas;
    font-size: 12px;
    margin-top:1px;
    margin-bottom:3px;
    border-style: none;   
}

treez-section > div {
  border-style:none;
  padding-bottom: 5px;
  padding-left: 2px;
  padding-right: 4px;
 
}

treez-section-header {
    display:inline-block;
    width:99.5%;
    height:14px;
    padding:4px;  
    border-radius:6px; 
    border-radius-:1px;
    border-color: #f1f5f9; 
    box-shadow: -1px -1px 1px 0px #a5bdd8;
    border-width:1px;
    border-style: solid;
    border-bottom:none;
    border-bottom-left-radius:0;
    border-bottom-right-radius:0;
    background-image:linear-gradient(#e0e8f1, white);
    color: #194c7f; 
    font-weight: bold;
    font-family: Consolas;
    font-size: 12px;
   
}


treez-section-header::before  {   
    content:'\25BC  ';     
    font-size: 15px;
    vertical-align:middle;
}

treez-section-header.collapsed::before  {   
   content:'\25B6  ';  
   font-size: 12px;
   vertical-align:middle;
}

.treez-section-action-toolbar {
    float:right;
    margin-right:10px;
    border-style:none;
}

.treez-section-action {
   margin-left:5px; 
   border-style:none; 
}