<!doctype html>
<html>

	<head>
		<link type="text/css" rel="stylesheet" href="../../../src/components/modelPath/treezModelPath.css" />
	</head>

	<body>
	
		<treez-model-path label="Model path:" id="modelPath"></treez-model-path>	

		<script type="module">	

			import Treez from '../../../src/treez.js';


			Treez.config({
				home: '.',
				isSupportingPython: false	
			});		
			

			import Root from '../../../src/root/root.js';
			import Models from '../../../src/model/models.js';

			let root = new Root();
			root.createModels('first');
			root.createModels('second');

			import TreezModelPath from '../../../src/components/modelPath/treezModelPath.js';

            var modelPath = document.getElementById('modelPath');  
            modelPath.relativeRootAtom = root;
            modelPath.atomClasses = [Models];         
            modelPath.label = 'Model path';
           
		</script>
		
	</body>
</html>