<!doctype html>
<html>

	<head>
		<link type="text/css" rel="stylesheet" href="../../../src/components/modelPath/treezModelPath.css" />
	</head>

	<body>
	
		<treez-model-path label="Model path:" id="modelPath"></treez-model-path>	

		<script type="module">			
			import TreezModelPath from '../../../src/components/modelPath/treezModelPath.js';

            var filePath = document.getElementById('modelPath');           
            filePath.label = 'Model path';
            filePath.value = 'root.model.genericInput';
		</script>
		
	</body>
</html>