treez-text-field {
	clear: both;	
	width: 100%;	
}

.treez-text-field-label {
	display: inline-block;
    font-family: Consolas;
    font-size: 12px;
    margin-right:5px;
}

.treez-text-field-field {
	display: block;
	width: 100%;
    font-family: Consolas;
    font-size: 12px;   
    resize:vertical;
    margin-bottom:10px;
    margin-right:5px;
}