<!doctype html>
<html>

	<head>		

        <script>

            class TreezFillStyleValue {    
				
            	static get SOLID() {
            		return new TreezFillStyleValue("solid");                    
                }            	          	

            	static get VERTICAL() {
            		return new TreezFillStyleValue("vertical");                    
                }            	          	

            	static get HORIZONTAL() {
            		return new TreezFillStyleValue("horizontal");                    
                }            	          	

            	static get CROSS() {
            		return new TreezFillStyleValue("cross");                    
                }           	
            	
            	
            	static values(){
            	    return [
            	    	TreezFillStyleValue.SOLID,  
            	    	TreezFillStyleValue.VERTICAL,   
            	    	TreezFillStyleValue.HORIZONTAL,                  	 
            	    	TreezFillStyleValue.CROSS            	    	
                	];
            	}
            	
            	static stringValues(){
            		let items = []
            		TreezFillStyleValue.values().forEach((item)=>{
            			items.push(item);
            		});
            		return items;
            	}
            	
            	static byName(name){

            	    let result = null;
            	    TreezFillStyleValue.values().forEach((item)=>{
            			if(item.name === name){
            				result = item;
            			}            			
            		});

            		if(!result){
            		     throw new Error('Unknown line style name: "' + name + '""');         
            		}
            		return result;            		
            		
            	}
            	
            	constructor(name, dashArray){
            		this.name = name;
            		this.dashArray=dashArray;
            	}

            	toString(){
            	    return this.name;
            	}
                                     
            }            
                             

            </script>	
                            		
       	</head>

</html>