<!doctype html>
<html>

	<head>
		<link type="text/css" rel="stylesheet" href="./../imageComboBox/treezImageComboBox.css" />
	</head>

	<body>	
	
		<treez-fill-style label="Fill style:" id="fillStyle"></treez-fill-style>	

		<script type="module">
           import TreezFillStyle from './treezFillStyle.js';
           import FillStyle from './fillStyle.js';

           var fillStyle = document.getElementById('fillStyle'); 
          
           fillStyle.value = FillStyle.solid;          
           
		</script>
	</body>
</html>