<!doctype html>
<html>

	<head>			
		 <link type="text/css" rel="stylesheet" href="../../../src/components/checkBox/treezCheckBox.css" />
	</head>

	<body>
		<treez-check-box id="checkBox"  value ></treez-check-box>		

		<script type="module">
		   import TreezCheckBox from '../../../src/components/checkBox/treezCheckBox.js';

           var checkBox = document.getElementById('checkBox');
           checkBox.label = "Check box";
           //checkBox.disabled = true;
           checkBox.hidden = false;
           
          

		</script>
	</body>
</html>